header.l-header
	
	nav.navbar.navbar-default(role='navigation')
		.container-fluid
			
			//- Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.sr-only
					span.icon-bar
					span.icon-bar
					span.icon-bar
				//- a.navbar-brand(href='/inside.html')
				//- 	img(src= "images/logo126.png")
			
			//- Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li
						a(href='#') Download
					li
						a(href='#') Tour
					li.lastnav-item
						a(href='#') Contatti
					

				//- ul.nav.navbar-nav.navbar-right
					
					
