extends partials/master

block title
	title 126

include partials/mixins

block content

	
	.container-fluid
		.central-logo
			a(href='/inside.html')
				img(src='images/logo126.png')
		.row
			ul.navigation
				li
					a(href="/music.html") Music
				li
					a(href="#") Events
				li 
					a(href="/info.html") Info

	.container-fluid
		.row
			.col-xs-12.col-sm-10.col-md-8.col-md-offset-2.news-box
				.news-subtitle
					h4 Goa Club 12/02 
				.news-image
					img.img-responsive(src="/images/news-test2.jpg")
				.news-title
					h3 126 Crew - Cuoricini - Gucci
				.news-description
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.col-xs-12.col-sm-10.col-md-8.col-md-offset-2.news-box
				.news-subtitle
					h4 Rashomon Club 26/02 
				.news-image
					img.img-responsive(src="/images/news-test1.jpg")
				.news-title
					h3 126 Crew - Campari - Fendi
				.news-description
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	