extends partials/master

block title
	title 126

include partials/mixins

block content

	
	.container-fluid
		.central-logo
			a(href='/inside.html')
				img(src='images/logo126.png')
		.row
			ul.navigation
				li
					a(href="/music.html") Music
				li
					a(href="#") Tour
				li 
					a(href="/info.html") Info

		.row.contact-list
			.col-sm-6.col-md-6.col-xs-12.col-lg-3
				.panel
					.panel-body.p-t-10
						.media-main
							a.pull-left
								img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_1.jpg', alt='')
							.info
								h4 Carl Brave
						.clearfix
						hr
						ul.social-links.list-inline.p-b-10
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
									i.fa.fa-facebook
							
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Instagram')
									i.fa.fa-instagram
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
									i.fa.fa-envelope-o
			.col-sm-6.col-md-6.col-xs-12.col-lg-3
				.panel
					.panel-body.p-t-10
						.media-main
							a.pull-left
								img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_2.jpg', alt='')
							.info
								h4 Ketama
						.clearfix
						hr
						ul.social-links.list-inline.p-b-10
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
									i.fa.fa-facebook
							
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Instagram')
									i.fa.fa-instagram
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
									i.fa.fa-envelope-o
			.col-sm-6.col-md-6.col-xs-12.col-lg-3
				.panel
					.panel-body.p-t-10
						.media-main
							a.pull-left
								img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_3.jpg', alt='')
							.info
								h4 Franco
						.clearfix
						hr
						ul.social-links.list-inline.p-b-10
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
									i.fa.fa-facebook
							
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Instagram')
									i.fa.fa-instagram
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
									i.fa.fa-envelope-o
			.col-sm-6.col-md-6.col-xs-12.col-lg-3
				.panel
					.panel-body.p-t-10
						.media-main
							a.pull-left
								img.thumb-lg.img-circle.bx-s(src='http://bootdey.com/img/Content/user_1.jpg', alt='')
							.info
								h4 Seany
						.clearfix
						hr
						ul.social-links.list-inline.p-b-10
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Facebook')
									i.fa.fa-facebook
							
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Instagram')
									i.fa.fa-instagram
							li
								a.tooltips(title='', data-placement='top', data-toggle='tooltip', href='#', data-original-title='Message')
									i.fa.fa-envelope-o

			.col-xs-12.booking-box
				.booking-title
					h3 BOOKING
				ul.booking-info
					li Tel: 3330011223
					li
						p Email:
							a(href='mailto: info@gmail.com')   Info@126.com 	