extends partials/master

block title
	title 126

include partials/mixins

block content

	//- include partials/header

	.container-fluid
		.central-logo
			a(href='/inside.html')
				img(src='images/logo126.png')
		.row
			ul.navigation
				li
					a(href="/music.html") Music
				li
					a(href="#") Tour
				li 
					a(href="/info.html") Info
		
	.container-fluid
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.hovereffect
				img.img-responsive.img-gang(src='images/carl-home.png', alt='')
				.overlay
					h2 Carl Brave
					p.icon-links

						a(href='https://www.facebook.com/Carl-Brave-x-Franco126-736128413192121/?fref=ts' target="_blank")
							span.fa.fa-facebook
						a(href='https://www.instagram.com/carlbrave23/' target="_blank")
							span.fa.fa-instagram
						a(href='#' target='_blank')
							span.fa.fa-download
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.hovereffect
				img.img-responsive.img-gang(src='images/ketama-home.png', alt='')
				.overlay
					h2 Ketama
					p.icon-links
						a(href='https://www.facebook.com/ketama126akasimbalionking/' target="_blank")
							span.fa.fa-facebook
						a(href='https://www.instagram.com/ketama126/' target="_blank")
							span.fa.fa-instagram
						a(href='#' target='_blank')
							span.fa.fa-download
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.hovereffect
				img.img-responsive.img-gang(src='images/franco-home.png', alt='')
				.overlay
					h2 Franco
					p.icon-links
						a(href='https://www.facebook.com/Carl-Brave-x-Franco126-736128413192121/?fref=ts' target="_blank")
							span.fa.fa-facebook
						a(href='https://www.instagram.com/franchino126/' target="_blank")
							span.fa.fa-instagram
						a(href='#' target='_blank')
							span.fa.fa-download
		.col-lg-3.col-md-3.col-sm-6.col-xs-12
			.hovereffect
				img.img-responsive.img-gang(src='images/seany-home.png', alt='')
				.overlay
					h2 Seany
					p.icon-links
						a(href='https://www.facebook.com/se.ol.9' target="_blank")
							span.fa.fa-facebook
						a(href='https://www.instagram.com/prettysolero126/' target="_blank")
							span.fa.fa-instagram
						a(href='#' target='_blank')
							span.fa.fa-download

	
						
//- include partials/header



					
	
	//- include partials/footer

	//- include partials/analytics
	