extends partials/master

block title
	title 126

include partials/mixins

block content

	
	.container-fluid
		.central-logo
			a(href='/inside.html')
				img(src='images/logo126.png')
		.row
			ul.navigation
				li
					a(href="/music.html") Music
				li
					a(href="#") Tour
				li 
					a(href="/info.html") Info

	.container-fluid
		.music-wrapper
			#filters.button-group
				button.button.is-checked(data-filter='*') Full Gang
				button.button(data-filter='.carl') Carl Brave
				button.button(data-filter='.ketama') Ketama
				button.button(data-filter='.franco') Franco
				button.button(data-filter='.seany') Seany
		
		.grid
			.music-boxes.element-item.carl.franco(data-category='transition')
				iframe(width='100%', height='265', src='https://www.youtube.com/embed/8YX91VZlaYU?rel=0', frameborder='0', allowfullscreen='')
				
			.music-boxes.element-item.ketama(data-category='metalloid')
				iframe(width='100%', height='265', src='https://www.youtube.com/embed/_0_UKXj3PIY?rel=0', frameborder='0', allowfullscreen='')
				
			.music-boxes.element-item.seany(data-category='post-transition')
				iframe(width='100%', height='265', src='https://www.youtube.com/embed/uXwMFxuXR8c?rel=0', frameborder='0', allowfullscreen='')

			.music-boxes.element-item.carl.franco(data-category='transition')
				iframe(width='100%', height='265', src='https://www.youtube.com/embed/ZjSwojRx1FE?rel=0', frameborder='0', allowfullscreen='')
				
			.music-boxes.element-item.ketama(data-category='metalloid')
				iframe(width='100%', height='265', src='https://www.youtube.com/embed/S1V2rjnQrmU?rel=0', frameborder='0', allowfullscreen='')
				
			.music-boxes.element-item.seany(data-category='post-transition')
				iframe(width='100%', height='265', src='https://www.youtube.com/embed/X0ZVEvtxtlI?rel=0', frameborder='0', allowfullscreen='')
			
		
			
